html
	font-size 16px
	
body
	padding 1em 5em
	font-family Arial

	.titulo
		text-align center
	
	.subtitulo
		text-align justify
	
	.contenido
		font-size 18px
		text-align justify
	.centrado
		text-align center