html
body
	font-size 16px
	background url('../img/tqvcun.jpg') no-repeat
	background-size cover
	width 100%
	height 100%

a
	outline rgba(255,255,255,0)

.cabecera-lista-correo
	width 100%
	height 5%
	
.cuerpo-lista-correo
	width 100%
	height 94%
	background rgba(0,0,0,0.6)
	border-top 1px solid rgba(255,255,255,0.7)
	position relative
	
.menu-lista-correo
	width 15%
	height 100%
	border-right 1px solid rgba(255,255,255,0.6)
	position absolute

.lista-item-ul
	margin 0px
	padding 0px
	text-align center
	
.lista-item
	list-style none
	width 100%
	-webkit-transition .5s
	-moz-transition .5s
	-o-transition .5s
	&:hover
		background rgba(255,0,0,0.6)
		-webkit-transition 1s
		-moz-transition 1s
		-o-transition 1s
	a
		border-bottom 1px solid rgba(255,255,255,0.3)
		text-decoration none
		color rgba(255,255,255,0.9)
		padding 1rem 0rem 1rem 0rem
		display block
		&:focus
			outline 0
		
.lista-correos-centro
	width 85%
	height 100%
	margin 0px
	position absolute
	right 0px
	overflow-x hidden
	overflow-y scroll

.correos-r
	margin 0
	padding .5em 1em .5em 0em
	padding-left 1em;
	color white
	font-size 1.2em
	border-bottom 1px solid rgba(255,255,255,0.6)

.texto-correo
	color white
	padding-left 1em
	
.links-correos
	text-decoration none

.envio-correo
	width 100%
	height 100%

.contenido-envio
	text-align center
	width 100%
	height 100%

.c-detino
.c-titulo
	width 98%
	padding .5em .5em .5em .5em
	border 0px
	margin .5em 0em .5em 0em
	&:focus
		outline 0

.mensaje
	width 98%
	height 70%
	border 0px
	&:focus
		outline 0

.envio-correo-boton
	width 50%
	height 5%
	color white
	margin-top 1em
	background rgba(255,0,0,1)
	border 0px
	border-bottom .5em solid rgba(200,0,0,1)
	border-radius 5px
	&:active
		background rgba(200,0,0,1)
		color rgba(200,200,200,0.6)
		border-top .5em solid rgba(255,0,0,1)
		border-radius 5px
	&:focus
		outline 0

.envio-mensaje-dato
	color white
	font-size 1.5em
