<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Correo</title>
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="css/normalize.css">
	<script src="lib/jquery-2.1.3.js"></script>
	<script src="js/correo.js"></script>
</head>
<body>
	<header class="headerCorreo">
		Correo Itzo
	</header>
	<section class="sectionCorreo">
		<article class="loginCorreo">
			<form id="loginCorreo" class="formCorreo">
				<input type="email" required id="correo" name="correo" class="itemCorreo" placeholder="Correo">
				<input type="password" required id="contraCorreo" name="contraCorreo" class="itemCorreo" placeholder="Contraseña">
				<input type="submit" value="Entrar" class="itemCorreoEntrar">
			</form>
		</article>
	</section>
	<footer class="footerCorreo">
		<span>By team Kimvex</span>
	</footer>
</body>
</html>
